.sd13ctn {
	display: flex;
	flex: 0.4;
	border-right: 1.5px solid #e6e6e6;
	overflow-x: scroll;
	padding-top: 2rem;

	animation-delay: 1.5s;
}

@media screen and (max-width: 750px) {
	.sd13ctn {
		flex: 0;
	}
}
