.im26ctn {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.im26sc {
	gap: 1rem;
	display: flex;
	flex-wrap: wrap;
}

.im26im,
.im26ld {
	margin-inline: auto;
	border-radius: 5px;
	width: 18rem;
	height: 12rem;
}

.im26st {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	width: 100%;
	height: 5rem;
	inset: 0;
	flex-wrap: wrap;
	gap: 1rem;
}

.im26hd {
	margin: 0;
	font-family: "roboto";
}

.im26er {
	width: 100%;
	height: 100%;
	margin-inline: auto;
}
