.bt24btn {
	margin-top: 1rem;
	width: 60%;
	background-color: rgb(54, 158, 232);
	color: white;
	font-size: 1.5rem;
	font-family: "roboto";
	font-weight: lighter;
	border-radius: 10px;
	border: none;
	padding: 0.6rem;
}
